eval "$(command conda 'shell.bash' 'hook' 2> /dev/null)"
. .env
conda activate fictionlens
(cd backend ; python main.py  >main.py.out 2>main.py.err & )

# todo: frontend start


# test
sleep 30
curl --location 'localhost:8000/api/chat' \
--header 'Content-Type: application/json' \
--data '{ "messages": [{ "role": "user", "content": "Hello" }] }'

